.vscode/
.idea/
.DS_Store
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
*.tfvars
*.tfvars.json
node_modules/
dist/
coverage/
*.log
*.exe
*.bin
*.dll
*.so
*.dylib
*.log
*.log.*
config.*.yaml
docs/node_modules
docs/web_deploy
go.sum
.env
*~
*.tmp
